body {
    background-image: url(pic.jpg);
    background-size: cover;
    height: 800px;
    background-repeat: no-repeat;
}

.navigation {
    display: flex;
    flex-direction: column;
    justify-content: flex-end; 
}

.toplinks {
    color: white;
    margin: 5px;
}

h1 {
    color:white;
    text-align: center;
    font-size: 40px;
    margin-top: 150px;
}

h2 {
    color:white;
    font-size: 15px;
    text-align: center;
    margin: 10px 20px;
}